*{
    padding: 0px;
    margin: 0px;
}
.whether{
    background-image:linear-gradient(rgba(65, 58, 58, 0.5),rgba(50, 45, 45, 0.5)), url('./image/skybackground.jpg');
    background-position: center;
    background-size: cover;
    
    height: 100vh;
}
.bar{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   position: relative;
   top: 20%;

}
.box1{
    background-color: rgba(47, 99, 122, 0.827);
    padding: 100px 60px;
   position: relative;
   right: 1%;
  
}
.box2{
    background-color: rgba(47, 99, 122, 0.827);
    padding: 100px 60px;
    position: relative;
    right: 5%;
}
.box3{
    background-color: rgba(47, 99, 122, 0.827);
    padding: 100px 60px;
   position: relative;
   right: 9%;
}
.box4{
    background-color: rgba(47, 99, 122, 0.827);  
    padding: 100px 60px;
    position: relative;
    right: 12%;
}
/* .box5{
    background-color: rgba(47, 122, 47, 0.91);
    padding: 160px 80px;
    position: relative;
    right: 15%;
} */
.details{
    display: flex;
    align-items: end;
    position: relative;
    left: 8%;
    top: 5%;
    margin-right: 150px;
}
.details h1{
    font-size: 80px;
    color: white;
}
#city{
    font-size: 40px;
    color: white;
   margin-bottom: 8px;
   margin-left: 40px;
    
}
.search{
    position: relative;
    left: 50%;
    margin-right: 200%;
}
.search input{
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid white;

}
.search button{
    padding: 11px 125px;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(32, 27, 27);
    background-color: rgb(109, 109, 244);
    margin-top: 15px;
    border: 0px solid;
}
#country{
    color: white;
   margin-bottom: 6px;
    font-size: 40px ;

}
.box1 p{
   position: relative;
   bottom:  90px;
   color: white;
   font-size: 30px;
   /* padding: 10px 10px; */
}
.box2 p{
    position: relative;
    bottom:  90px;
    color: white;
    font-size: 30px;
 }
 .box3 p{   
    position: relative;
    bottom:  90px;
    color: white;
    font-size: 30px;
 }
 .box4 p{
    position: relative;
    bottom:  90px;
    color: white;
    font-size: 30px;
 }


